body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #ebebeb;
  background: linear-gradient(166deg, rgb(66, 66, 136) 0%, rgba(46, 46, 73, 0.984) 100%);
  background-repeat: no-repeat;
  background-size: 800%;
  animation: gradient 50s ease infinite;
  background-attachment: fixed;
  overflow: hidden;
  user-select: none;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.slideFade {
  animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.BarslideIn {
  animation: slideMe 1.5s ease-in-out;
}

@keyframes slideMe {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-49px);
  }
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  transition: transform .6s cubic-bezier(.56, .01, .13, 1);
}

img:hover {
  transform: scale(1.1);
}

.setMargintoTen {
  margin-top: 100px;
}


.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: out .5s ease-in-out;
  border-radius: 20px;
}

.cards:hover {
  animation: in .5s ease-in-out;
  scale: .9;
  display: inline-block;
  perspective: 1800px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
}